/* colors and units */

/* TODO: are these shades correct? */

/*
    charcoal: #414042
    charcoal-lt: #707072
    charcoal-xlt: #a0a0a1

    smoky quartz: #ebebec
    smoky quartz-lt: #f1f1f1
    smoky quartz-xlt: #f6f6f6

    iceberg: #bad2dd
    iceberg-lt: #cddee4
    iceberg-xlt: #dee9ed
*/

@import 'settings/color';
@import 'settings/font';

@import 'tools/font';

@import 'generic/normalize';
@import 'generic/box-sizing';
@import 'generic/webkit';

@import 'elements/html';
@import 'elements/body';
@import 'elements/links';
@import 'elements/lists';

@import 'objects/container';
@import 'objects/main';
@import 'objects/page-section';

@import 'components/headings';
@import 'components/copy';
@import 'components/header';
@import 'components/nav';
@import 'components/hero';
@import 'components/footer';
@import 'components/page-tagline';
@import 'components/home';
@import 'components/music';
@import 'components/writing';

* {
  // border: 1px solid red;
}
