/* colors and units */

/* TODO: are these shades correct? */

/*
    charcoal: #414042
    charcoal-lt: #707072
    charcoal-xlt: #a0a0a1

    smoky quartz: #ebebec
    smoky quartz-lt: #f1f1f1
    smoky quartz-xlt: #f6f6f6

    iceberg: #bad2dd
    iceberg-lt: #cddee4
    iceberg-xlt: #dee9ed
*/


/* webfonts */

@font-face {
  font-family: "woodlandthin";
  src: url("../fonts/woodland-thin-webfont.eot");
  src: url("../fonts/woodland-thin-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/woodland-thin-webfont.woff2") format("woff2"),
       url("../fonts/woodland-thin-webfont.woff") format("woff"),
       url("../fonts/woodland-thin-webfont.ttf") format("truetype"),
       url("../fonts/woodland-thin-webfont.svg#woodlandthin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ecstasy";
  src: url("../fonts/ecstasy-webfont.eot");
  src: url("../fonts/ecstasy-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/ecstasy-webfont.woff2") format("woff2"),
       url("../fonts/ecstasy-webfont.woff") format("woff"),
       url("../fonts/ecstasy-webfont.ttf") format("truetype"),
       url("../fonts/ecstasy-webfont.svg#ecstasy") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "opensans-light";
  src: url("../fonts/opensans-light-webfont.eot");
  src: url("../fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/opensans-light-webfont.woff2") format("woff2"),
       url("../fonts/opensans-light-webfont.woff") format("woff"),
       url("../fonts/opensans-light-webfont.ttf") format("truetype"),
       url("../fonts/opensans-light-webfont.svg#opensans-light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "opensans-semibold";
  src: url("../fonts/opensans-semibold-webfont.eot");
  src: url("../fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/opensans-semibold-webfont.woff2") format("woff2"),
       url("../fonts/opensans-semibold-webfont.woff") format("woff"),
       url("../fonts/opensans-semibold-webfont.ttf") format("truetype"),
       url("../fonts/opensans-semibold-webfont.svg#opensans-semibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "opensans-lightitalic";
  src: url("../fonts/opensans-lightitalic-webfont.eot");
  src: url("../fonts/opensans-lightitalic-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/opensans-lightitalic-webfont.woff2") format("woff2"),
       url("../fonts/opensans-lightitalic-webfont.woff") format("woff"),
       url("../fonts/opensans-lightitalic-webfont.ttf") format("truetype"),
       url("../fonts/opensans-lightitalic-webfont.svg#opensans-lightitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "opensans-italic";
  src: url("../fonts/opensans-italic-webfont.eot");
  src: url("../fonts/opensans-italic-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/opensans-italic-webfont.woff2") format("woff2"),
       url("../fonts/opensans-italic-webfont.woff") format("woff"),
       url("../fonts/opensans-italic-webfont.ttf") format("truetype"),
       url("../fonts/opensans-italic-webfont.svg#opensans-italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global styles */

@import 'generic/normalize';
@import 'generic/box-sizing';
@import 'generic/webkit';

@import 'objects/container';

@import 'components/header';
@import 'components/nav';
@import 'components/hero';

* {
  border: 1px solid red;
}

body {
  font-family: "opensans-light", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #414042;
  font-size: 100%;
}

a:link, a:visited {
  color: #414042;
  text-decoration: none;
}

a:hover {
  color: #707072;
}

a:active {
  color: #bad2dd;
}

p {
  line-height: 1.5;
}

h2 {
  font-family: "ecstasy", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 3.2em;
}

h4 {
  font-family: "opensans-semibold", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.2em;
  line-height: 1.3;
}

hr {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #f1f1f1;

  height: 1px;
}

/* utilities */

.debug {
  border: 0 solid red;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

/* atomic classes */

.d-b { display: block; }
.d-ib { display: inline-block; }

.fl-l { float: left; }
.fl-r { float: right; }

/* margin */

.mr-a { margin-right: auto; }
.ml-a { margin-left: auto; }

.mt-0 { margin-top: 0; }
.mb-0 { margin-bottom: 0; }

.mt-xs { margin-top: 0.3em; }
.mb-xs { margin-bottom: 0.3em; }

.mt-sm { margin-top: 0.6em; }
.mb-sm { margin-bottom: 0.6em; }

.mt-std { margin-top: 1em; }
.mb-std { margin-bottom: 1em; }

.mt-lg { margin-top: 1.5em; }
.mb-lg { margin-bottom: 1.5em; }

.mt-xl { margin-top: 2em; }
.mb-xl { margin-bottom: 2em; }

.mt-xxl { margin-top: 3em; }
.mb-xxl { margin-bottom: 3em; }

.mt-xxxl { margin-top: 4em; }
.mb-xxxl { margin-bottom: 4em; }

/* padding */

.pt-0 { padding-top: 0; }
.pb-0 { padding-bottom: 0; }

.pt-xs { padding-top: 0.3em; }
.pb-xs { padding-bottom: 0.3em; }

.pt-sm { padding-top: 0.6em; }
.pb-sm { padding-bottom: 0.6em; }

.pt-std { padding-top: 1em; }
.pb-std { padding-bottom: 1em; }

.pt-lg { padding-top: 1.5em; }
.pb-lg { padding-bottom: 1.5em; }

.pt-xl { padding-top: 2em; }
.pb-xl { padding-bottom: 2em; }

.pt-xxl { padding-top: 3em; }
.pb-xxl { padding-bottom: 3em; }

.pt-xxxl { padding-top: 4em; }
.pb-xxxl { padding-bottom: 4em; }

@media (min-width: 50em) {
  .pt-0-tablet { padding-top: 0; }
}

.w-1-1 { width: 100%; }

.maw-1-1 { max-width: 100%; }

.ta-c { text-align: center; }
.ta-r { text-align: right; }

.ff-opensans-lightitalic { font-family: "opensans-lightitalic", Arial, "Helvetica Neue", Helvetica, sans-serif; }
.ff-opensans-italic { font-family: "opensans-italic", Arial, "Helvetica Neue", Helvetica, sans-serif; }

.fz-xs { font-size: 0.3em; }
.fz-sm { font-size: 0.6em; }
.fz-std { font-size: 1em; }
.fz-lg { font-size: 1.5em; }
.fz-xl { font-size: 2em; }
.fz-xxl { font-size: 3em; }
.fz-xxxl { font-size: 4em; }

.td-u { text-decoration: underline; }

.c-charcoal { color: #414042; }

.lis-n { list-style: none; }

/* transformative ui classes */

/*
  TABLET STYLES
*/
/* 800px */
@media (min-width: 50em) {
  .text-align-left-on-tablet { text-align: left; }
  .text-align-right-on-tablet { text-align: right; }
}

/*
  DESKTOP STYLES
*/
/* 1200px */
@media (min-width: 75em) {

}

/* site-specific styles */

.jkymarsh--logo {
  max-width: 180px;
}

/* social media icons */

.jkymarsh--horizontal-icons {
  display: inline-block;
  list-style: none;
}

.jkymarsh--horizontal-icons li {
  float: left;
  margin-left: 0.8em;
}

.jkymarsh--horizontal-icons li:first-child {
  margin-left: 0;
}

.jkymarsh--horizontal-icons__link {
  display: block;
  padding: 0.3em;
}

/* job listings */

.jkymarsh--job-position-listings {
  list-style: none;
}

.jkymarsh--job-position-listings li {
  margin-top: 4em;
}

.jkymarsh--job-position-listings li:first-child {
  margin-top: 0;
}

.jkymarsh--job-position-listings__company {
  font-family: "opensans-italic", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.jkymarsh--job-position-listings__dates-container {
  padding-top: 0.3em;
}

.jkymarsh--job-position-listings__dates {
  display: block;
  font-family: "opensans-lightitalic", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.8em;
  color: #bad2dd;
}

@media (min-width: 50em) {
  .jkymarsh--job-position-listings__dates {
      text-align: right;
  }
}

.jkymarsh--job-position-listings__job-description {
  margin-top: 1.5em;
}
