{% extends "base.html" %}

{% block title %}J. Ky Marsh - Writing{% endblock title %}

{% block description %}J. Ky Marsh - Writing work samples and poetry book information{% endblock description %}

{% block content %}
<div class="jky-c-hero jky-c-hero--writing">
  <h1 class="jky-c-hero__title">
    Writing
  </h1>
</div>

<main role="main" class="jky-o-main">
  <div class="jky-o-container">
    <section role="region">
      <h2 class="jky-c-headings jky-c-headings--two">
        Past & current projects
      </h2>

      <p class="jky-c-copy jky-c-copy--paragraph">
        I've been writing various forms of prose and poetry for over two
        decades. Influenced by Pablo Neruda, Anne Sexton, E. E. Cummings,
        Elinor Wiley, John Keats, as well as various modern contemporary poets,
        I enjoy crafting nostalgic pieces that sting of the pains of failed
        romance and better days gone by.
      </p>

      <p class="jky-c-copy jky-c-copy--paragraph">
        I'm presently in the midst of finishing a 60-piece book of poetry
        consisting of work written over a span of about three years. A release
        date has yet to be set, but a few samples can be read below in the
        meantime.
      </p>
    </section>

    <section class="jky-o-page-section" role="region">
      <h2 class="jky-c-headings jky-c-headings--two">
        Work samples
      </h2>

      <ul id="jky-js-writing-work-buttons-list"
          class="jky-c-writing-work-buttons-list">
        <li>
          <button data-url="/img/writing/jkymarsh-weedkiller.pdf#toolbar=0"
              class="jky-js-writing-work-buttons-list__button
                  jky-c-writing-work-buttons-list__button is-active">
            weedkiller
          </button>
        </li>
        <li>
          <button data-url="/img/writing/jkymarsh-gravedancer.pdf#toolbar=0"
              class="jky-js-writing-work-buttons-list__button jky-c-writing-work-buttons-list__button">
            gravedancer
          </button>
        </li>
        <li>
          <button data-url="/img/writing/jkymarsh-dreams-i.pdf#toolbar=0"
              class="jky-js-writing-work-buttons-list__button jky-c-writing-work-buttons-list__button">
            dreams i
          </button>
        </li>
        <li>
          <button data-url="/img/writing/jkymarsh-like-satellites.pdf#toolbar=0"
              class="jky-js-writing-work-buttons-list__button jky-c-writing-work-buttons-list__button">
            like satellites
          </button>
        </li>
        <li>
          <button data-url="/img/writing/jkymarsh-regress.pdf#toolbar=0"
              class="jky-js-writing-work-buttons-list__button jky-c-writing-work-buttons-list__button">
            regress
          </button>
        </li>
      </ul>

      <iframe src="/img/writing/jkymarsh-weedkiller.pdf#toolbar=0"
          id="jky-js-writing-work-iframe"
          class="jky-c-writing-work-iframe">
      </iframe>
    </section>
  </div>
</main>
{% endblock content %}
