{% extends "base.html" %}

{% block title %}J. Ky Marsh - UX/UI Engineer/Musician/Photographer/Writer{% endblock title %}

{% block description %}J. Ky Marsh is a UX/UI engineer, musician, photographer, and writer living in the Bay Area.{% endblock description %}

{% block content %}
<div class="jky-c-hero jky-c-hero--writing">
  <h1 class="jky-c-hero__title">
    Writing
  </h1>
</div>
{% endblock content %}
