{% extends "base.html" %}

{% block title %}J. Ky Marsh - UX/UI Engineer/Musician/Photographer/Writer{% endblock title %}

{% block description %}J. Ky Marsh is a UX/UI engineer, musician, photographer, and writer living in the Bay Area.{% endblock description %}

{% block content %}
<div class="jky-c-hero jky-c-hero--writing">
  <h1 class="jky-c-hero__title">
    Writing
  </h1>
</div>

<main role="main" class="jky-o-main">
  <div class="jky-o-container">
    <section role="region">
      <h2 class="jky-c-headings jky-c-headings--two">
        Past & current projects
      </h2>

      <p class="jky-c-copy jky-c-copy--paragraph">
        J. Ky Marsh is a UX engineer, musician, photographer, and writer currently
        living in the San Francisco Bay Area. A passionate, neurotic, creative
        person, he's always looking for new projects that will challenge him to
        produce new art and advance his skills and knowledge.
      </p>
    </section>

    <section class="jky-o-page-section" role="region">
      <h2 class="jky-c-headings jky-c-headings--two">
        Work samples
      </h2>

      <p class="jky-c-copy jky-c-copy--paragraph">
        J. Ky Marsh is a UX engineer, musician, photographer, and writer currently
        living in the San Francisco Bay Area. A passionate, neurotic, creative
        person, he's always looking for new projects that will challenge him to
        produce new art and advance his skills and knowledge.
      </p>

      <ul id="jky-js-writing-work-buttons-list"
          class="jky-c-writing-work-buttons-list">
        <li>
          <button data-url="/img/writing/jkymarsh-weedkiller.pdf"
              class="jky-js-writing-work-buttons-list__button
                  jky-c-writing-work-buttons-list__button is-active">
            weedkiller
          </button>
        </li>
        <li>
          <button data-url="/img/writing/jkymarsh-gravedancer.pdf"
              class="jky-js-writing-work-buttons-list__button jky-c-writing-work-buttons-list__button">
            gravedancer
          </button>
        </li>
        <li>
          <button data-url="/img/writing/jkymarsh-dreams-i.pdf"
              class="jky-js-writing-work-buttons-list__button jky-c-writing-work-buttons-list__button">
            dreams i
          </button>
        </li>
        <li>
          <button data-url="/img/writing/jkymarsh-like-satellites.pdf"
              class="jky-js-writing-work-buttons-list__button jky-c-writing-work-buttons-list__button">
            like satellites
          </button>
        </li>
        <li>
          <button data-url="/img/writing/jkymarsh-regress.pdf"
              class="jky-js-writing-work-buttons-list__button jky-c-writing-work-buttons-list__button">
            regress
          </button>
        </li>
      </ul>

      <iframe src="/img/writing/jkymarsh-weedkiller.pdf"
          id="jky-js-writing-work-iframe"
          class="jky-c-writing-work-iframe">
      </iframe>
    </section>
  </div>
</main>
{% endblock content %}
