{% extends "base.html" %}

{% set title = "J. Ky Marsh - UX Engineer/Musician/Photographer/Writer" %}

{% set description = "J. Ky Marsh is a UX engineer, musician, photographer, and writer currently living in the San Francisco Bay Area." %}

{% set pageUrl = "https://jkymarsh.com/" %}

{% block content %}
<div class="jky-c-hero jky-c-hero--home">
  <h1 class="jky-c-hero__title">
    J. Ky Marsh
  </h1>
</div>

<main role="main" class="jky-o-main">
  <div class="jky-o-container">
    <h3 class="jky-c-page-tagline">
      J. Ky Marsh is a UX engineer, musician, photographer, and writer currently
      living in the San Francisco Bay Area.
    </h3>

    <section class="jky-o-page-section" role="region">
      <h2 class="jky-c-headings jky-c-headings--two">
        Personal statement
      </h2>

      <div class="jky-c-home-photo">
        <img src="/img/jkymarsh-photo.jpg" class="jky-c-home-photo__img">
      </div>

      <p class="jky-c-copy jky-c-copy--paragraph">
        Originally from Maine, I've been fortunate to have my career pull me
        across the country - first to Chicago, then to San Francisco, where I
        currently reside. I've worked for a variety of companies of all sizes,
        from boutique agencies to large corporations, generally working within
        the realms of UI design, UX design, and front-end development, with a
        smattering of related disciplines thrown in.
      </p>

      <p class="jky-c-copy jky-c-copy--paragraph">
        Outside work, I stay busy with myriad side projects - playing in bands,
        writing poetry, shooting photography - maintaining an assortment of
        creative outlets has always been a constant throughout my life. In fact,
        my scholastic background is in music - I only pivoted to the realms of
        computer science and visual design in the years following college.
      </p>

      <p class="jky-c-copy jky-c-copy--paragraph">
        I'm always looking to expand my network and indulge my creative
        compulsions, so please find my contact information below and don't
        hesitate to reach out. Additionally, I'm perpetually interested in
        sharing and trading work and feedback with other artists. Let's talk.
      </p>
    </section>

    <section class="jky-o-page-section" role="region">
      <h2 class="jky-c-headings jky-c-headings--two">
        Portfolio companies
      </h2>

      <div class="jky-c-home-company-logos">
        <img src="/img/company-logos.png" class="jky-c-home-company-logos__img">
      </div>

      <p class="jky-c-copy jky-c-copy--paragraph">
        For full work history and experience, see the
        <a href="/resume/jkymarsh-resume.pdf">Resume</a> page.
      </p>
    </section>

    <section class="jky-o-page-section" role="region">
      <h2 class="jky-c-headings jky-c-headings--two">
        Get in touch
      </h2>

      <p class="jky-c-copy jky-c-copy--paragraph">
        I'm not currently available for full-time employment opportunities.
        However, I'm always interested in side projects, so if your role meets
        this criteria, feel free to reach out.
      </p>

      <p class="jky-c-copy jky-c-copy--paragraph">
        My email address is
        <a href="mailto:jkymarsh@gmail.com">jkymarsh@gmail.com</a>.
      </p>
    </section>
  </div>
</main>
{% endblock content %}
