{% extends "base.html" %}

{% block title %}J. Ky Marsh - UX/UI Engineer/Musician/Photographer/Writer{% endblock title %}

{% block description %}J. Ky Marsh is a UX/UI engineer, musician, photographer, and writer living in the Bay Area.{% endblock description %}

{% block content %}
<div class="jky-c-hero jky-c-hero--home">
  <h1 class="jky-c-hero__title">
    J. Ky Marsh
  </h1>
</div>

<main role="main" class="jky-o-main">
  <div class="jky-o-container">
    <h3 class="jky-c-page-tagline">
      J. Ky Marsh is a UX engineer, musician, photographer, and writer currently
      living in the San Francisco Bay Area.
    </h3>

    <section class="jky-o-page-section" role="region">
      <h2>
        Personal statement
      </h2>

      <div style="height: 200px;">
        photo
      </div>

      <p>
        J. Ky Marsh is a UX engineer, musician, photographer, and writer currently
        living in the San Francisco Bay Area. A passionate, neurotic, creative
        person, he's always looking for new projects that will challenge him to
        produce new art and advance his skills and knowledge.
      </p>
    </section>

    <section class="jky-o-page-section" role="region">
      <h2>
        Portfolio companies
      </h2>

      <div style="height: 200px;">
        companies
      </div>

      <p>
        For full work history and experience, see the <a href="#">Resume</a>
        page.
      </p>
    </section>

    <section class="jky-o-page-section" role="region">
      <h2>
        Get in touch
      </h2>

      <p>
        J. Ky Marsh is a UX engineer, musician, photographer, and writer currently
        living in the San Francisco Bay Area. A passionate, neurotic, creative
        person, he's always looking for new projects that will challenge him to
        produce new art and advance his skills and knowledge.
      </p>
    </section>
  </div>
</main>
{% endblock content %}
