/*
  charcoal: #414042
  charcoal-lt: #707072
  charcoal-xlt: #a0a0a1

  smoky quartz: #ebebec
  smoky quartz-lt: #f1f1f1
  smoky quartz-xlt: #f6f6f6

  iceberg: #bad2dd
  iceberg-lt: #cddee4
  iceberg-xlt: #dee9ed
*/

$color-iceberg: #bad2dd;
$color-iceberg-dk: #76a6bc;
$color-charcoal: #414042;
$color-smoky-quartz: #ebebec;
$color-smoky-quartz-dk: #b5b5ba;
