@font-face {
  font-family: 'Ecstasy';
  src: url('/fonts/Ecstasy.woff') format('woff'),
       url('/fonts/Ecstasy.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Woodland-Bold';
  src: url('/fonts/Woodland-Bold.woff') format('woff'),
       url('/fonts/Woodland-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
