{% extends "base.html" %}

{% block title %}J. Ky Marsh - UX/UI Engineer/Musician/Photographer/Writer{% endblock title %}

{% block description %}J. Ky Marsh is a UX/UI engineer, musician, photographer, and writer living in the Bay Area.{% endblock description %}

{% block content %}
<div class="jky-c-hero jky-c-hero--photography">
  <h1 class="jky-c-hero__title">
    Photography
  </h1>
</div>

<main role="main" class="jky-o-main">
  <div class="jky-o-container">
    <section role="region">
      <h2 class="jky-c-headings jky-c-headings--two">
        Past & current projects
      </h2>

      <p class="jky-c-copy jky-c-copy--paragraph">
        J. Ky Marsh is a UX engineer, musician, photographer, and writer currently
        living in the San Francisco Bay Area. A passionate, neurotic, creative
        person, he's always looking for new projects that will challenge him to
        produce new art and advance his skills and knowledge.
      </p>
    </section>

    <section class="jky-o-page-section" role="region">
      <h2 class="jky-c-headings jky-c-headings--two">
        Bookings
      </h2>

      <p class="jky-c-copy jky-c-copy--paragraph">
        J. Ky Marsh is a UX engineer, musician, photographer, and writer currently
        living in the San Francisco Bay Area. A passionate, neurotic, creative
        person, he's always looking for new projects that will challenge him to
        produce new art and advance his skills and knowledge.
      </p>
    </section>

    <section class="jky-o-page-section" role="region">
      <h2 class="jky-c-headings jky-c-headings--two">
        Work samples
      </h2>

      <ul class="jky-c-photography-photos-list">
        <li>
          <div class="jky-c-photography-photos-list__item">
            <div class="jky-c-photography-photos-list__item-photo">
              <img src="https://scontent-sjc3-1.cdninstagram.com/v/t51.2885-15/e35/p1080x1080/153684344_115207277244996_2177501763819061652_n.jpg?tp=1&_nc_ht=scontent-sjc3-1.cdninstagram.com&_nc_cat=100&_nc_ohc=iZovqc-p8OwAX-yV4Lv&ccb=7-4&oh=1fe771befc3a1e87dc4ff3cd674bf9a8&oe=608B02A7&_nc_sid=4f375e" class="jky-c-photography-photos-list__item-photo-img">
            </div>

            <span class="jky-c-photography-photos-list__item-text">
              <a href="https://www.instagram.com/p/CLxf9jlhTZ9/"
                  class="jky-c-photography-photos-list__item-text-link"
                  target="_blank"
                  rel="noopener noreferrer">
                View on Instagram
              </a>
            </span>
          <div>
        </li>
        <li>
          <div class="jky-c-photography-photos-list__item">
            <div class="jky-c-photography-photos-list__item-photo">
              <img src="https://scontent-sjc3-1.cdninstagram.com/v/t51.2885-15/e35/p1080x1080/71171245_661591140995950_5516729101543906040_n.jpg?tp=1&_nc_ht=scontent-sjc3-1.cdninstagram.com&_nc_cat=110&_nc_ohc=CuuACr_I4aoAX_rGueY&ccb=7-4&oh=9d362f662658bb937e52b2bf47f94488&oe=60893FBB&_nc_sid=4f375e" class="jky-c-photography-photos-list__item-photo-img">
            </div>

            <span class="jky-c-photography-photos-list__item-text">
              <a href="https://www.instagram.com/p/B2uqL4yBreg/"
                  class="jky-c-photography-photos-list__item-text-link"
                  target="_blank"
                  rel="noopener noreferrer">
                View on Instagram
              </a>
            </span>
          <div>
        </li>
        <li>
          <div class="jky-c-photography-photos-list__item">
            <div class="jky-c-photography-photos-list__item-photo">
              <img src="https://scontent-sjc3-1.cdninstagram.com/v/t51.2885-15/e35/p1080x1080/70208572_548213819275207_4837980085070094911_n.jpg?tp=1&_nc_ht=scontent-sjc3-1.cdninstagram.com&_nc_cat=107&_nc_ohc=gze9OYN5DfgAX9axEqY&ccb=7-4&oh=2fed5db07542ba568786c8ac65905912&oe=60895EF4&_nc_sid=4f375e" class="jky-c-photography-photos-list__item-photo-img">
            </div>

            <span class="jky-c-photography-photos-list__item-text">
              <a href="https://www.instagram.com/p/B2fYp-nBSKM/"
                  class="jky-c-photography-photos-list__item-text-link"
                  target="_blank"
                  rel="noopener noreferrer">
                View on Instagram
              </a>
            </span>
          <div>
        </li>
        <li>
          <div class="jky-c-photography-photos-list__item">
            <div class="jky-c-photography-photos-list__item-photo">
              <img src="https://scontent-sjc3-1.cdninstagram.com/v/t51.2885-15/e35/41337046_242721469778646_2735147328107070123_n.jpg?tp=1&_nc_ht=scontent-sjc3-1.cdninstagram.com&_nc_cat=106&_nc_ohc=rAqoskKNCBMAX_rb5Gq&ccb=7-4&oh=bcbaa7fd28e2aef8de0573eee00c7f62&oe=6089C477&_nc_sid=4f375e" class="jky-c-photography-photos-list__item-photo-img">
            </div>

            <span class="jky-c-photography-photos-list__item-text">
              <a href="https://www.instagram.com/p/BncZ2gylB4A/"
                  class="jky-c-photography-photos-list__item-text-link"
                  target="_blank"
                  rel="noopener noreferrer">
                View on Instagram
              </a>
            </span>
          <div>
        </li>
        <li>
          <div class="jky-c-photography-photos-list__item">
            <div class="jky-c-photography-photos-list__item-photo">
              <img src="https://scontent-sjc3-1.cdninstagram.com/v/t51.2885-15/e35/39386890_2143027585954971_4156460471924293632_n.jpg?tp=1&_nc_ht=scontent-sjc3-1.cdninstagram.com&_nc_cat=103&_nc_ohc=g5Bw-VvXuk4AX80cUpf&ccb=7-4&oh=56d1781180fd118b7074a8aa07e04a85&oe=6088922E&_nc_sid=4f375e" class="jky-c-photography-photos-list__item-photo-img">
            </div>

            <span class="jky-c-photography-photos-list__item-text">
              <a href="https://www.instagram.com/p/Bmwn0zblaeP/"
                  class="jky-c-photography-photos-list__item-text-link"
                  target="_blank"
                  rel="noopener noreferrer">
                View on Instagram
              </a>
            </span>
          <div>
        </li>
        <li>
          <div class="jky-c-photography-photos-list__item">
            <div class="jky-c-photography-photos-list__item-photo">
              <img src="https://scontent-sjc3-1.cdninstagram.com/v/t51.2885-15/e35/36848660_1001350966705876_5928971325837148160_n.jpg?tp=1&_nc_ht=scontent-sjc3-1.cdninstagram.com&_nc_cat=104&_nc_ohc=yXJquqLfreYAX-6l63V&ccb=7-4&oh=c842b070672a4434cb931fbeb2bb00a4&oe=6088A28E&_nc_sid=4f375e" class="jky-c-photography-photos-list__item-photo-img">
            </div>

            <span class="jky-c-photography-photos-list__item-text">
              <a href="https://www.instagram.com/p/BlMK5ZwlDA7/"
                  class="jky-c-photography-photos-list__item-text-link"
                  target="_blank"
                  rel="noopener noreferrer">
                View on Instagram
              </a>
            </span>
          <div>
        </li>
        <li>
          <div class="jky-c-photography-photos-list__item">
            <div class="jky-c-photography-photos-list__item-photo">
              <img src="https://scontent-sjc3-1.cdninstagram.com/v/t51.2885-15/e35/29740608_201473323962231_6311363199186763776_n.jpg?tp=1&_nc_ht=scontent-sjc3-1.cdninstagram.com&_nc_cat=103&_nc_ohc=64I0OOYamMAAX_6aNMR&ccb=7-4&oh=29c63d06fd68556066a549192786c954&oe=6089ED88&_nc_sid=4f375e" class="jky-c-photography-photos-list__item-photo-img">
            </div>

            <span class="jky-c-photography-photos-list__item-text">
              <a href="https://www.instagram.com/p/BhfMfLvl2xk/"
                  class="jky-c-photography-photos-list__item-text-link"
                  target="_blank"
                  rel="noopener noreferrer">
                View on Instagram
              </a>
            </span>
          <div>
        </li>
        <li>
          <div class="jky-c-photography-photos-list__item">
            <div class="jky-c-photography-photos-list__item-photo">
              <img src="https://scontent-sjc3-1.cdninstagram.com/v/t51.2885-15/e35/23967515_993903127415461_5726740273854152704_n.jpg?tp=1&_nc_ht=scontent-sjc3-1.cdninstagram.com&_nc_cat=101&_nc_ohc=xZXhHrzxdDcAX8bMK4d&ccb=7-4&oh=2b9eae3223fb2b382ebdd7e6ba25b4ba&oe=6088A1AB&_nc_sid=4f375e" class="jky-c-photography-photos-list__item-photo-img">
            </div>

            <span class="jky-c-photography-photos-list__item-text">
              <a href="https://www.instagram.com/p/Bb5jQzyALUR/"
                  class="jky-c-photography-photos-list__item-text-link"
                  target="_blank"
                  rel="noopener noreferrer">
                View on Instagram
              </a>
            </span>
          <div>
        </li>
        <li>
          <div class="jky-c-photography-photos-list__item">
            <div class="jky-c-photography-photos-list__item-photo">
              <img src="https://scontent-sjc3-1.cdninstagram.com/v/t51.2885-15/e35/23825337_1550233281763515_2744594989609648128_n.jpg?tp=1&_nc_ht=scontent-sjc3-1.cdninstagram.com&_nc_cat=103&_nc_ohc=-kT1CPFUN4IAX9-R_-G&ccb=7-4&oh=370db694fe24dd9f3ce19f693d2fe4a4&oe=6089148E&_nc_sid=4f375e" class="jky-c-photography-photos-list__item-photo-img">
            </div>

            <span class="jky-c-photography-photos-list__item-text">
              <a href="https://www.instagram.com/p/Bb0PodogEMf/"
                  class="jky-c-photography-photos-list__item-text-link"
                  target="_blank"
                  rel="noopener noreferrer">
                View on Instagram
              </a>
            </span>
          <div>
        </li>
        <li>
          <div class="jky-c-photography-photos-list__item">
            <div class="jky-c-photography-photos-list__item-photo">
              <img src="https://scontent-sjc3-1.cdninstagram.com/v/t51.2885-15/e35/22860779_1702897949734734_4242582872675844096_n.jpg?tp=1&_nc_ht=scontent-sjc3-1.cdninstagram.com&_nc_cat=106&_nc_ohc=XzQHQFuj7pMAX96OzHn&ccb=7-4&oh=7c89fce8ab69c2ac1648c59cc435a7b3&oe=608A4581&_nc_sid=4f375e" class="jky-c-photography-photos-list__item-photo-img">
            </div>

            <span class="jky-c-photography-photos-list__item-text">
              <a href="https://www.instagram.com/p/Ba4s6cvA2H9/"
                  class="jky-c-photography-photos-list__item-text-link"
                  target="_blank"
                  rel="noopener noreferrer">
                View on Instagram
              </a>
            </span>
          <div>
        </li>
        <li>
          <div class="jky-c-photography-photos-list__item">
            <div class="jky-c-photography-photos-list__item-photo">
              <img src="https://scontent-sjc3-1.cdninstagram.com/v/t51.2885-15/e35/21879444_127698997882129_6055923223302766592_n.jpg?tp=1&_nc_ht=scontent-sjc3-1.cdninstagram.com&_nc_cat=101&_nc_ohc=QlA7MZz1MWMAX_KkhBt&ccb=7-4&oh=fd0f07620a200e948da61fec389f3400&oe=608981C0&_nc_sid=4f375e" class="jky-c-photography-photos-list__item-photo-img">
            </div>

            <span class="jky-c-photography-photos-list__item-text">
              <a href="https://www.instagram.com/p/BZZ0YNmgyeo/"
                  class="jky-c-photography-photos-list__item-text-link"
                  target="_blank"
                  rel="noopener noreferrer">
                View on Instagram
              </a>
            </span>
          <div>
        </li>
        <li>
          <div class="jky-c-photography-photos-list__item">
            <div class="jky-c-photography-photos-list__item-photo">
              <img src="https://scontent-sjc3-1.cdninstagram.com/v/t51.2885-15/e35/21911252_1656869817678923_4828928290347548672_n.jpg?tp=1&_nc_ht=scontent-sjc3-1.cdninstagram.com&_nc_cat=111&_nc_ohc=5LvMlOHHnnwAX_t0ss1&ccb=7-4&oh=4333f18547dd3948c46b21ee9edc8b10&oe=608A9734&_nc_sid=4f375e" class="jky-c-photography-photos-list__item-photo-img">
            </div>

            <span class="jky-c-photography-photos-list__item-text">
              <a href="https://www.instagram.com/p/BZXEXtwg6uA/"
                  class="jky-c-photography-photos-list__item-text-link"
                  target="_blank"
                  rel="noopener noreferrer">
                View on Instagram
              </a>
            </span>
          <div>
        </li>
        <li>
          <div class="jky-c-photography-photos-list__item">
            <div class="jky-c-photography-photos-list__item-photo">
              <img src="https://scontent-sjc3-1.cdninstagram.com/v/t51.2885-15/e35/37362323_250649345749500_7626608779383013376_n.jpg?tp=1&_nc_ht=scontent-sjc3-1.cdninstagram.com&_nc_cat=100&_nc_ohc=oIxWJRjG0ZUAX8P4b65&ccb=7-4&oh=458480a8fcaf05b4477ab446fbb42439&oe=608A4134&_nc_sid=4f375e" class="jky-c-photography-photos-list__item-photo-img">
            </div>

            <span class="jky-c-photography-photos-list__item-text">
              <a href="https://www.instagram.com/p/Bl34_KKlefw/"
                  class="jky-c-photography-photos-list__item-text-link"
                  target="_blank"
                  rel="noopener noreferrer">
                View on Instagram
              </a>
            </span>
          <div>
        </li>
        <li>
          <div class="jky-c-photography-photos-list__item">
            <div class="jky-c-photography-photos-list__item-photo">
              <img src="https://scontent-sjc3-1.cdninstagram.com/v/t51.2885-15/e35/36161335_244547809667593_5915262116645830656_n.jpg?tp=1&_nc_ht=scontent-sjc3-1.cdninstagram.com&_nc_cat=101&_nc_ohc=P8sfWk3dIaMAX9u5xGX&ccb=7-4&oh=ee97b66cfebfd414556928624b46aef2&oe=6088BC6D&_nc_sid=4f375e" class="jky-c-photography-photos-list__item-photo-img">
            </div>

            <span class="jky-c-photography-photos-list__item-text">
              <a href="https://www.instagram.com/p/BlEcF3yFj30/"
                  class="jky-c-photography-photos-list__item-text-link"
                  target="_blank"
                  rel="noopener noreferrer">
                View on Instagram
              </a>
            </span>
          <div>
        </li>
        <li>
          <div class="jky-c-photography-photos-list__item">
            <div class="jky-c-photography-photos-list__item-photo">
              <img src="https://scontent-sjc3-1.cdninstagram.com/v/t51.2885-15/e35/26866078_142904839715525_6503246781600497664_n.jpg?tp=1&_nc_ht=scontent-sjc3-1.cdninstagram.com&_nc_cat=105&_nc_ohc=SHYUvH0HXBIAX9HU8Uv&ccb=7-4&oh=55320b328bc3e08f13eee8caebd7a1e5&oe=6088AF06&_nc_sid=4f375e" class="jky-c-photography-photos-list__item-photo-img">
            </div>

            <span class="jky-c-photography-photos-list__item-text">
              <a href="https://www.instagram.com/p/BegrDzNgOlC/"
                  class="jky-c-photography-photos-list__item-text-link"
                  target="_blank"
                  rel="noopener noreferrer">
                View on Instagram
              </a>
            </span>
          <div>
        </li>
      </ul>
    </section>
  </div>
</main>
{% endblock content %}
