{% extends "base.html" %}

{% block title %}J. Ky Marsh - UX/UI Engineer/Musician/Photographer/Writer{% endblock title %}

{% block description %}J. Ky Marsh is a UX/UI engineer, musician, photographer, and writer living in the Bay Area.{% endblock description %}

{% block content %}
<div class="jky-c-hero jky-c-hero--music">
  <h1 class="jky-c-hero__title">
    Music
  </h1>
</div>

<main role="main" class="jky-o-main">
  <div class="jky-o-container">
    <section role="region">
      <h2 class="jky-c-headings jky-c-headings--two">
        Past & current projects
      </h2>

      <p class="jky-c-copy jky-c-copy--paragraph">
        J. Ky Marsh is a UX engineer, musician, photographer, and writer currently
        living in the San Francisco Bay Area. A passionate, neurotic, creative
        person, he's always looking for new projects that will challenge him to
        produce new art and advance his skills and knowledge.
      </p>
    </section>

    <section class="jky-o-page-section" role="region">
      <h2 class="jky-c-headings jky-c-headings--two">
        Releases
      </h2>

      <ul class="jky-c-music-releases-list">
        <li>
          <div class="jky-c-music-releases-list__cover">
            <img src="/img/music/bad_visuals-ravel.jpg"
                class="jky-c-music-releases-list__cover-img">
          </div>

          <div class="jky-c-music-releases-list__content">
            <span class="jky-c-music-releases-list__content-title">
              Ravel
            </span>

            <span class="jky-c-music-releases-list__content-year">
              Bad Visuals, released 2021
            </span>

            <span class="jky-c-music-releases-list__content-role">
              Role(s): drums
            </span>

            <span class="jky-c-music-releases-list__content-credits">
              Recorded with Sam Pura at Panda Studios. Photography by Laura
              Prieto.
            </span>

            <ul class="jky-c-music-releases-list__content-streaming-links">
              <li>
                <a href="#" class="jky-c-music-releases-list__content-streaming-links-link">
                  Spotify
                </a>
              </li>
              <li>
                <a href="#" class="jky-c-music-releases-list__content-streaming-links-link">
                  Bandcamp
                </a>
              </li>
              <li>
                <a href="#" class="jky-c-music-releases-list__content-streaming-links-link">
                  YouTube Music
                </a>
              </li>
              <li>
                <a href="#" class="jky-c-music-releases-list__content-streaming-links-link">
                  Apple Music
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="jky-c-music-releases-list__cover">
            <img src="/img/music/bad_visuals-petaluma.jpg"
                class="jky-c-music-releases-list__cover-img">
          </div>

          <div class="jky-c-music-releases-list__content">
            <span class="jky-c-music-releases-list__content-title">
              Petaluma
            </span>

            <span class="jky-c-music-releases-list__content-year">
              Bad Visuals, released 2019
            </span>

            <span class="jky-c-music-releases-list__content-role">
              Role(s): drums, lyrics, artwork
            </span>

            <span class="jky-c-music-releases-list__content-credits">
              Recorded with Jack Shirley at Atomic Garden.
            </span>

            <ul class="jky-c-music-releases-list__content-streaming-links">
              <li>
                <a href="https://open.spotify.com/album/5C47m66xhD91FXVnolx6Cn?si=pxcVkDk-TheeMPUfWsEhEA"
                    class="jky-c-music-releases-list__content-streaming-links-link"
                    target="_blank"
                    rel="noopener noreferrer">
                  Spotify
                </a>
              </li>
              <li>
                <a href="https://badvisualsmusic.bandcamp.com/album/petaluma"
                    class="jky-c-music-releases-list__content-streaming-links-link"
                    target="_blank"
                    rel="noopener noreferrer">
                  Bandcamp
                </a>
              </li>
              <li>
                <a href="https://music.youtube.com/playlist?list=OLAK5uy_m4Kh83lFxs80Q-qtwAmkTzDK2lMFNY050"
                    class="jky-c-music-releases-list__content-streaming-links-link"
                    target="_blank"
                    rel="noopener noreferrer">
                  YouTube Music
                </a>
              </li>
              <li>
                <a href="https://music.apple.com/bs/album/petaluma/1448899168"
                    class="jky-c-music-releases-list__content-streaming-links-link"
                    target="_blank"
                    rel="noopener noreferrer">
                  Apple Music
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </section>
  </div>
</main>
{% endblock content %}
