{% extends "base.html" %}

{% block title %}J. Ky Marsh - Music{% endblock title %}

{% block description %}J. Ky Marsh - Music projects and album releases{% endblock description %}

{% block content %}
<div class="jky-c-hero jky-c-hero--music">
  <h1 class="jky-c-hero__title">
    Music
  </h1>
</div>

<main role="main" class="jky-o-main">
  <div class="jky-o-container">
    <section role="region">
      <h2 class="jky-c-headings jky-c-headings--two">
        Past & current projects
      </h2>

      <p class="jky-c-copy jky-c-copy--paragraph">
        In addition to graduating from Northern Illinois University with a BA in
        Music, I've played in bands since I was a teenager back in the suburbs
        of central Maine. Though I'm primarily a drummer, I've been a frontman
        for a handful of hardcore and metal bands since those early days as
        well.
      </p>

      <p class="jky-c-copy jky-c-copy--paragraph">
        My current project is the shoegaze/post-rock/punk band Bad Visuals,
        based out of Oakland. Our releases can be streamed below.
      </p>
    </section>

    <section class="jky-o-page-section" role="region">
      <h2 class="jky-c-headings jky-c-headings--two">
        Releases
      </h2>

      <ul class="jky-c-music-releases-list">
        <li>
          <div class="jky-c-music-releases-list__cover">
            <img src="/img/music/bad_visuals-ravel.jpg"
                class="jky-c-music-releases-list__cover-img">
          </div>

          <div class="jky-c-music-releases-list__content">
            <span class="jky-c-music-releases-list__content-title">
              Ravel
            </span>

            <span class="jky-c-music-releases-list__content-year">
              Bad Visuals, released 2021
            </span>

            <span class="jky-c-music-releases-list__content-role">
              Role(s): drums
            </span>

            <span class="jky-c-music-releases-list__content-credits">
              Recorded with Sam Pura at Panda Studios. Photography by Laura
              Prieto.
            </span>

            <ul class="jky-c-music-releases-list__content-streaming-links">
              <li>
                <a href="https://open.spotify.com/album/5DAksBJWOYDBQUYEfWTePb?si=KmEnp5kSQz2Aap9mZHStow"
                    class="jky-c-music-releases-list__content-streaming-links-link"
                    target="_blank"
                    rel="noopener noreferrer">
                  Spotify
                </a>
              </li>
              <li>
                <a href="https://badvisualsmusic.bandcamp.com/album/ravel"
                    class="jky-c-music-releases-list__content-streaming-links-link"
                    target="_blank"
                    rel="noopener noreferrer">
                  Bandcamp
                </a>
              </li>
              <li>
                <a href="https://music.youtube.com/playlist?list=OLAK5uy_nFUyhgVGcxyKjlga4bM7989SAIBbqrKuc"
                    class="jky-c-music-releases-list__content-streaming-links-link"
                    target="_blank"
                    rel="noopener noreferrer">
                  YouTube Music
                </a>
              </li>
              <li>
                <a href="https://music.apple.com/bs/album/ravel-ep/1561668870"
                    class="jky-c-music-releases-list__content-streaming-links-link"
                    target="_blank"
                    rel="noopener noreferrer">
                  Apple Music
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="jky-c-music-releases-list__cover">
            <img src="/img/music/bad_visuals-petaluma.jpg"
                class="jky-c-music-releases-list__cover-img">
          </div>

          <div class="jky-c-music-releases-list__content">
            <span class="jky-c-music-releases-list__content-title">
              Petaluma
            </span>

            <span class="jky-c-music-releases-list__content-year">
              Bad Visuals, released 2019
            </span>

            <span class="jky-c-music-releases-list__content-role">
              Role(s): drums, lyrics, artwork
            </span>

            <span class="jky-c-music-releases-list__content-credits">
              Recorded with Jack Shirley at Atomic Garden. Photography by Nikki
              Neumann.
            </span>

            <ul class="jky-c-music-releases-list__content-streaming-links">
              <li>
                <a href="https://open.spotify.com/album/5C47m66xhD91FXVnolx6Cn?si=pxcVkDk-TheeMPUfWsEhEA"
                    class="jky-c-music-releases-list__content-streaming-links-link"
                    target="_blank"
                    rel="noopener noreferrer">
                  Spotify
                </a>
              </li>
              <li>
                <a href="https://badvisualsmusic.bandcamp.com/album/petaluma"
                    class="jky-c-music-releases-list__content-streaming-links-link"
                    target="_blank"
                    rel="noopener noreferrer">
                  Bandcamp
                </a>
              </li>
              <li>
                <a href="https://music.youtube.com/playlist?list=OLAK5uy_m4Kh83lFxs80Q-qtwAmkTzDK2lMFNY050"
                    class="jky-c-music-releases-list__content-streaming-links-link"
                    target="_blank"
                    rel="noopener noreferrer">
                  YouTube Music
                </a>
              </li>
              <li>
                <a href="https://music.apple.com/bs/album/petaluma/1448899168"
                    class="jky-c-music-releases-list__content-streaming-links-link"
                    target="_blank"
                    rel="noopener noreferrer">
                  Apple Music
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </section>
  </div>
</main>
{% endblock content %}
