.jky-c-headings {

  &.jky-c-headings--two {
    @include font-ecstasy;

    font-size: 36px;
    letter-spacing: 1px;
    line-height: normal;
    font-weight: normal;
    margin-bottom: 40px;

    @include bp('sm') {
      font-size: 46px;
    }
  }
}
