.jky-c-hero {
  flex: 0 0 300px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &.jky-c-hero--home {
    background-image: url(/img/bg/iceberg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &.jky-c-hero--photography {
    background-image: url(/img/bg/pink-snow.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &.jky-c-hero--music {
    background-image: url(/img/bg/marble-02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &.jky-c-hero--writing {
    background-image: url(/img/bg/marble-01.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.jky-c-hero__title {
  @include font-ecstasy;

  margin: 0;
  font-size: 60px;
  line-height: normal;
  letter-spacing: 3px;
  font-weight: normal;
  color: $color-charcoal;
  text-shadow: -4px -2px 0 #fff;
}
