.jky-c-hero {
  align-items: center;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex: 0 0 260px;
  justify-content: center;
  width: 100%;

  @include bp('sm') {
    flex: 0 0 300px;
  }

  &.jky-c-hero--home {
    background-image: url(/img/bg/iceberg.jpg);
  }

  &.jky-c-hero--photography {
    background-image: url(/img/bg/pink-snow.jpg);
  }

  &.jky-c-hero--music {
    background-image: url(/img/bg/marble-02.jpg);
  }

  &.jky-c-hero--writing {
    background-image: url(/img/bg/marble-01.jpg);
  }
}

.jky-c-hero__title {
  @include font-ecstasy;

  color: $color-charcoal;
  font-size: 48px;
  font-weight: normal;
  letter-spacing: 3px;
  line-height: normal;
  margin: 0;
  text-shadow: -4px -2px 0 #fff;

  @include bp('sm') {
    font-size: 60px;
  }
}
