.jky-c-home-photo {
  display: block;
  width: 300px;
  border-radius: 50%;
  overflow: hidden;
}

.jky-c-home-photo__img {
  display: block;
  width: 100%;
}

.jky-c-home-company-logos {
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.jky-c-home-company-logos__img {
  display: block;
  width: 100%;
  opacity: 0.45;
}
