.jky-c-nav {
  width: 100%;
}

.jky-c-nav__list {
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style: none;

  @include bp('sm') {
    flex-direction: row;
  }

  > li {
    margin-top: 6px;

    @include bp('sm') {
      align-items: center;
      display: flex;
      flex: 1;
      justify-content: space-around;
      margin-top: 0;
    }

    &.jky-c-nav__list-item--resume {
      order: 2;

      @include bp('sm') {
        order: 1;
      }
    }

    &.jky-c-nav__list-item--photography {
      order: 3;

      @include bp('sm') {
        order: 2;
      }
    }

    &.jky-c-nav__list-item--logo {
      order: 1;

      @include bp('sm') {
        order: 3;
      }
    }

    &.jky-c-nav__list-item--music {
      order: 4;
    }

    &.jky-c-nav__list-item--writing {
      order: 5;
    }
  }
}

.jky-c-nav__list-link {
  @include font-opensans-light;

  color: $color-charcoal;
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $color-charcoal;
    text-decoration: underline;
  }
}

.jky-c-nav__main-logo {
  display: block;
  text-decoration: none;
  width: 100px;
}

.jky-c-nav__main-logo-img {
  display: block;
  width: 100%;
}
