.jky-c-nav {
  width: 100%;
}

.jky-c-nav__list {
  list-style: none;
  display: flex;

  > li {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.jky-c-nav__list-link {
  @include font-opensans-light;

  font-size: 16px;
  line-height: normal;
  font-weight: normal;
  color: $color-charcoal;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    color: $color-charcoal;
  }
}

.jky-c-nav__main-logo {
  display: block;
  width: 120px;
  text-decoration: none;
}

.jky-c-nav__main-logo-img {
  display: block;
  width: 100%;
}
