.jky-c-page-tagline {
  @include font-opensans-bold;

  font-size: 18px;
  hyphens: none;
  line-height: 26px;
  margin: 0 auto;
  max-width: 860px;
  text-align: center;
  width: 80%;

  @include bp('sm') {
    font-size: 24px;
    line-height: 36px;
  }
}
