.jky-c-photography-photos-list {
  list-style: none;
  width: 100%;

  @include bp('sm') {
    display: flex;
    flex-wrap: wrap;
  }

  > li {
    margin: 20px 0 0;

    &:first-child {
      margin: 0;
    }

    @include bp('sm') {
      flex-grow: 1;
      margin: 20px 10px !important;
      width: calc(33.3333% - 20px);
    }
  }
}

.instagram-media {
  margin: 0 !important;
  max-width: none !important;
  min-width: auto !important;
  width: 100% !important;
}
