.jky-c-photography-photos-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;

  > li {
    flex-grow: 1;
    margin: 20px 10px;
    width: calc(33.3333% - 20px);
  }
}

.instagram-media {
  margin: 0 !important;
  max-width: none !important;
  min-width: auto !important;
  width: 100% !important;
}
