.jky-c-writing-work-buttons-list {
  list-style: none;
  margin: 40px 0;

  > li {
    margin-top: 4px;

    &:first-child {
      margin-top: 0;

      @include bp('sm') {
        margin-left: 0;
      }
    }

    @include bp('sm') {
      display: inline-block;
      margin-left: 4px;
      margin-top: 0 !important;
    }
  }
}

.jky-c-writing-work-buttons-list__button {
  @include font-opensans-lightitalic;

  background: $color-smoky-quartz;
  border: 1px solid $color-smoky-quartz-dk;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  line-height: normal;
  padding: 10px;

  &.is-active {
    background: $color-iceberg;
    border: 1px solid $color-iceberg-dk;
  }
}

.jky-c-writing-work-iframe {
  height: 1070px;
  overflow-y: auto;
  width: 100%;
}
